--symlinks ignore
--swiftversion 5.3

# rules
--disable andOperator
--enable anyObjectProtocol
--disable blankLinesAroundMark
--disable blankLinesAtEndOfScope
--disable blankLinesAtStartOfScope
--enable blankLinesBetweenScopes
--enable braces
--enable consecutiveBlankLines
--disable consecutiveSpaces
--enable duplicateImports
--enable elseOnSameLine
--enable emptyBraces
--enable fileHeader
--enable hoistPatternLet
--enable indent
--enable initCoderUnavailable
--disable isEmpty
--enable leadingDelimiters
--disable linebreakAtEndOfFile
--enable linebreaks
--enable modifierOrder
--disable numberFormatting
--disable organizeDeclarations
--enable preferKeyPath
--disable redundantBackticks
--enable redundantBreak
--disable redundantExtensionACL
--disable redundantFileprivate
--enable redundantGet
--enable redundantInit
--enable redundantLet
--enable redundantLetError
--enable redundantNilInit
--enable redundantObjc
--enable redundantParens
--enable redundantPattern
--enable redundantRawValues
--disable redundantReturn
--disable redundantSelf
--disable redundantType
--enable redundantVoidReturnType
--enable semicolons
--enable sortedImports
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundOperators
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable strongOutlets
--enable strongifiedSelf
--enable todos
--enable trailingClosures
--enable trailingCommas
--enable trailingSpace
--enable typeSugar
--disable unusedArguments
--enable void
--disable wrap
--disable wrapArguments
--disable wrapAttributes
--disable wrapEnumCases
--disable wrapMultilineStatementBraces
--disable wrapSwitchCases
--enable yodaConditions

--semicolons inline
--trimwhitespace always
--binarygrouping none
--indent 4
--allman false

